// Variable declarations
$background-dark: linear-gradient(180deg, #000000 0%, #191818 100%) 0% 0%
  no-repeat padding-box;
$background-light: linear-gradient(90deg, #ffffff 0%, #c1c1c1 100%) 0% 0%
  no-repeat padding-box;
$text-default: #fff;
$text-invert: #000;
$overflow-default: hidden;
$font-size: 16px;
$font-stack: normal normal 300 $font-size mlxg;
$header-size: 1.5rem;
$intro-timing: 0.5s;
$section-spacing: 15rem;
$slide-bottom-distance: 250px;

// Font import
@font-face {
  font-family: mlxg;
  src: url("assets/Alata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: mlxgBold;
  src: url("assets/Alata-Regular.ttf") format("truetype");
}

// Top level styles
html {
  scroll-behavior: smooth;
}

body {
  font: $font-stack;
  background: $background-dark;
  margin: 0;
  overflow-x: $overflow-default;
  color: $text-default;
  min-height: 100vh;

  // Remove scrollbar but still allow scrolling
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

section {
  margin-bottom: $section-spacing;
}

section-header {
  display: block;
  overflow: hidden;
  text-align: center;
  font-size: $header-size;
}
section-header:before,
section-header:after {
  background-color: $text-default;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: super;
  width: 50%;
}
section-header:before {
  right: $header-size;
  margin-left: -50%;
}
section-header:after {
  left: $header-size;
  margin-right: -50%;
}

row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10rem;
  margin-top: 10rem;
}
column {
  @extend .center;
  @extend .text-center;
}
card {
  width: 200px;
  height: 200px;
  border: solid 1px white;
}
bottom-hider {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  background: linear-gradient(0deg, black, transparent);
  z-index: 100;
}
.margin-0 {
  margin: 0;
}
.logo {
  width: $header-size * 2.5;
}
.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.intro {
  font-size: 10rem;
  position: relative;
  p {
    margin: 0;
    width: 100vw;
  }
}
.intro-clip {
  position: absolute;
  top: 0;
  color: $text-invert;
  background: $background-light;
  clip-path: polygon(0 55%, 100% 80%, 100% 80%, 0 55%);
  animation: expand ($intro-timing * 2) forwards ease-out;
  animation-delay: $intro-timing;
}
.intro-fade {
  opacity: 0;
  animation: fade-in ($intro-timing * 2) forwards ease-in;
  animation-delay: $intro-timing * 3 - ($intro-timing / 2);
}
.description {
  font-size: 1.2rem;
  p {
    width: 50%;
  }
}
.scroll-animate > * {
  margin-top: $slide-bottom-distance;
}
@mixin transition {
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: 0.15s * $i;
    }
  }
}
.in-view > * {
  animation: slide-from-bottom 1s ease forwards;
  @include transition;
}

/*
 * Tablet
 */
@media screen and (max-width: 1200px) {
}

/*
 * Mobile
 */
@media screen and (max-width: 768px) {
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: brightness(0%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}
@keyframes slide-from-bottom {
  0% {
    margin-top: $slide-bottom-distance;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes slide-from-left {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes expand {
  0% {
    clip-path: polygon(0 55%, 100% 80%, 100% 80%, 0 55%);
  }
  100% {
    clip-path: polygon(0 35%, 100% 60%, 100% 100%, 0 75%);
  }
}
